QWidget {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    border-radius: 4px;
}

QPushButton {
    background-color: #ffee00;
    color: #000000;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 700;
}

QPushButton:hover {
    background-color: #ffffff;
    color: #000000;
}

QDialog {
    background-color: #000000;
}

QLabel {
    background-color: #000000;
}

QLabel#modal_text {
    padding: 10 0;
}

QLabel.slider_value_label {
    color: #ffee00;
    font-size: 9px;
    font-weight: 600;
}

QFrame.line_separator {
    background-color: #ffffff;
}

QSlider::groove:horizontal {
    background: #343c51;
    border: 1px solid #fff;
    height: 10px;
    border-radius: 5px;
}

QSlider::handle:horizontal {
    background: #ffee00;
    width: 20px;
    margin: -5px 0;
    border-radius: 10px;
}

QScrollBar {
    background: #343c51;
    width: 10px;
}

QScrollBar::handle {
    background-color: #ffee00;
}

QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::add-line, QScrollBar::sub-line {
    background: #343c51;
    border: none;
}
