/* Main Widget */
QWidget {
    background-color: #11111b;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    border-radius: 2px;
}

QWidget#sidebar_container {
    background-color: #2c2c2c;
}

QWidget#rename_button, QWidget#delete_button {
    background-color: #2c2c2c;
    color: #ffffff;
}

QWidget#rename_button:hover{
    background-color: #00ac6a;
}

QWidget#delete_button:hover {
    background-color: #ac0000;
}

QWidget#chat_container {
    background-color: #2c2c2c;
}

QStatusBar {
    background-color: #2c2c2c;
    font-size: 16px;
}

QLabel {
    background-color: #11111b;
    font-size: 14px;
}

QLabel#chat_title_label {
    font-size: 16px;
    font-weight: 600;
}

QLabel#settings_label {
    font-size: 12px;
}

QLabel.chatlog_info_labels {
    padding-left: 2px;
}

QLabel#placeholder_label {
    font-weight: 600;
}

/* Chat Log */
QTextEdit {
    font-family: 'Courier New', monospace;
    background-color: #11111b;
    padding: 10px 10px;
}

/* Input Line */
QLineEdit {
    background-color: #00578b;
    color: #FFF;
}

QLineEdit:hover {
    border: 1px solid #cccccc;
}

/* Generic Button */
QPushButton {
    background-color: #f1bc2e;
    color: #11111b;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 700;
}

QPushButton:hover {
    background-color: #ffffff;
    color: #11111b;
}

QPushButton#toggle_sidebar_button {
    background-color: #2c2c2c;
    color: #ffffff;
}

QPushButton#toggle_sidebar_button:hover {
    background-color: #f1bc2e;
    color: #11111b;
}
