/* Main Widget */
QWidget {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    border-radius: 2px;
}

QWidget#sidebar_container {
    background-color: #343c51;
}

QWidget#rename_button, QWidget#delete_button {
    background-color: #343c51;
    color: #ffffff;
}

QWidget#rename_button:hover{
    background-color: #00ac6a;
}

QWidget#delete_button:hover {
    background-color: #ac0000;
}

QWidget#prompt_box_widget {
    background-color: #000000;
}

QWidget#current_settings_widget {
    background-color: #000000;
}

QWidget#stored_chats_widget {
    background-color: #000000;
}

QWidget#chat_container {
    background-color: #343c51;
}

QStatusBar {
    background-color: #343c51;
    font-size: 16px;
}

QLabel {
    background-color: #000000;
    font-size: 14px;
}

QLabel#chat_title_label {
    font-size: 16px;
    font-weight: 600;
}

QLabel#settings_label {
    font-size: 12px;
}

QLabel.chatlog_info_labels {
    padding-left: 2px;
}

QWidget#start_image {
    background-color: #000000;
}

QLabel#placeholder_label {
    font-weight: 600;
}

/* Chat Log */
QTextEdit {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    padding: 10px 10px;
}

/* Input Line */
QLineEdit {
    background-color: #00578b;
    color: #FFF;
}

QLineEdit:hover {
    border: 1px solid #cccccc;
}

/* Generic Button */
QPushButton {
    background-color: #ffee00;
    color: #000000;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 700;
}

QPushButton:hover {
    background-color: #ffffff;
    color: #000000;
}

QPushButton#toggle_sidebar_button {
    background-color: #343c51;
    color: #ffffff;
}

QPushButton#toggle_sidebar_button:hover {
    background-color: #ffee00;
    color: #000000;
}

QScrollBar {
    background: #343c51;
    width: 10px;
}

QScrollBar::handle {
    background-color: #ffee00;
}

QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::add-line, QScrollBar::sub-line {
    background: #343c51;
    border: none;
}
