/* Main Widget */
QWidget {
    background-color: #11111b;
    color: #ffffff;
    font-family: 'Geologica', 'Gill Sans MT', sans-serif;
    font-size: 16px;
    border-radius: 2px;
}

/* QWidgets */
QWidget#sidebar_container {
    background-color: #2c2c2c;
}

QWidget#rename_button, QWidget#delete_button {
    background-color: #2c2c2c;
    color: #ffffff;
}

QWidget#rename_button:hover{
    background-color: #00ac6a;
}

QWidget#delete_button:hover {
    background-color: #ac0000;
}

QWidget#chat_container {
    background-color: #2c2c2c;
}

/* QLabels */
QLabel {
    background-color: #11111b;
}

QLabel#gila_title {
    font-family: 'Bruno Ace SC';
    font-size: 100px;
    font-weight: 600;
}

QLabel#chat_title_label {
    font-size: 20px;
    font-weight: 600;
}

QLabel.chatlog_info_labels {
    padding-left: 2px;
}

QLabel#placeholder_label {
    font-weight: 400;
}

QLabel#modal_text {
    padding: 10 0;
}

QLabel.slider_value_label {
    color: #f1bc2e;
    font-size: 10px;
    font-weight: 600;
}

QLabel#temperature_current_value_label,
QLabel#max_tokens_current_value_label {
    font-size: 11px;
}

QLabel.setting_name {
    font-weight: 600;
    padding: 8px 0;
}

/* QTextEdit for Chat Prompt */
QTextEdit#prompt_box_widget {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #11111b;
    padding: 10px 10px;
    font-weight: 300;
}

QTextEdit#system_message_widget {
    background-color: #2c2c2c;
}

/* QLineEdit used in modals */
QLineEdit {
    background-color: #2c2c2c;
    padding: 5px;
    color: #FFF;
    border-radius: 2px;
}

QLineEdit:hover {
    border: 1px solid #cccccc;
}

/* QPushButtons */
QPushButton {
    background-color: #f1bc2e;
    color: #11111b;
    padding: 6px 0px;
    font-weight: 600;
}

QPushButton:hover {
    background-color: #fde49e;
    color: #11111b;
}

QPushButton#toggle_sidebar_button {
    background-color: #2c2c2c;
    color: #ffffff;
}

QPushButton#toggle_sidebar_button:hover {
    background-color: #f1bc2e;
    color: #11111b;
}

/* QComboBox */
QComboBox {
    background-color: #2c2c2c;
    padding: 5px;
    border-radius: 2px;
}

/* QDialog */
QDialog {
    background-color: #11111b;
}

/* QFrame */
QFrame.line_separator {
    background-color: #2c2c2c;
}

/* QStatusBar */
QStatusBar {
    background-color: #2c2c2c;
}

/* QSlider used in change_setting_modal to change temperature and max_tokens */
QSlider::groove:horizontal {
    background: #2c2c2c;
    border: 1px solid #fff;
    height: 10px;
    border-radius: 5px;
}

QSlider::handle:horizontal {
    background: #f1bc2e;
    width: 20px;
    margin: -5px 0;
    border-radius: 10px;
}

/* QScrollBar shown in change_setting_modal when selecting an llm */
QScrollBar {
    background: #2c2c2c;
    width: 10px;
}

QScrollBar::handle {
    background-color: #f1bc2e;
}

QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::add-line, QScrollBar::sub-line {
    background: #2c2c2c;
    border: none;
}

/* QTab */
QTabBar::tab {
    background: #2c2c2c;
    color: #9e9e9e;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid #11111b;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabBar::tab:selected {
    background: #11111b;
    color: #f1bc2e;
}
