/* Main Widget */
QWidget {
    background-color: #004872;
    color: #ffffff;
    font-family: 'Garamond', serif;
    font-size: 16px;
    border-radius: 4px;
}

QWidget#sidebar_container {
    background-color: #002b44;
}

QWidget#current_settings_widget {
    background-color: #00578b;
}

QWidget#stored_chats_widget {
    background-color: #00578b;
}

QWidget#chat_container {
    background-color: #002b44;
}

QStatusBar {
    background-color: #003452;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

QLabel {
    background-color: #00578b;
}

QWidget#start_image {
    background-color: #002b44;
}

/* Chat Log */
QTextEdit {
    background-color: #00578b;
    padding: 10px 10px;
}

/* Input Line */
QLineEdit {
    background-color: #00578b;
    color: #FFF;
}

QLineEdit:hover {
    border: 1px solid #cccccc;
}

/* Generic Button */
QPushButton {
    font-family: 'Consolas', sans-serif;
    background-color: #D6943C;
    color: #003757; 
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 700;
}

QPushButton:hover {
    background-color: #003757;
    color: #D6943C; 
}

QDialog {
    background-color: #002b44;
}

QScrollBar {
    background: #003452;
    width: 10px;
}

QScrollBar::handle {
    background-color: #D6943C;
}

QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::add-line, QScrollBar::sub-line {
    background: #003452;
    border: none;
}
